html {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(135deg, rgb(101, 3, 122, 0.7), rgb(174, 9, 100,0.7),rgba(0, 94, 255, 0.726)), url(./images/bg.jpg);
  background-size: cover;
}
.button {
  font-size: large;
  padding: 5px 5px 7px 5px;
  border-radius: 5px;
  
}
.delete{
  width: 30px;
  font-size: large;
  padding: 2px;
  margin: 0.3em;
  border-radius: 5px;
  border: none;
  background: rgb(239, 53, 53);
  color: #fff;
}
.edit{
  width: 44px;
  font-size: large;
  padding:2px;
  border-radius: 5px;
  border: none;
  background: rgb(41, 142, 41);
  color: white;
}

/* heading */
#main-content h1 {
  font-size: 40px;
  text-align: center;
}

/* form main content */
#main-content {
  width: 600px;
  padding: 10px, 20px;
  border-radius: 10px;
  position: relative;
  margin:0 auto;
  height: 120vh;
  justify-content: center;
  align-items: center;
  border: 1px solid #7f7e7e;
  background: rgba(228, 226, 226, 0.518);
  padding: 15px 20px 18px 18px;
  border-radius: 8px;
  box-shadow: 2px 5px 5px #4a4949;
}

/* input  */
label{
  width: 140px;
  display: inline-block;
  font-weight: bold;
  margin: 0.2cm;
}
input[type = "text"]{
  font-size: 400;
  width: 60%;
  padding: 8px;
  margin: 5px;
  height: 25px;
  border: none;
  border-radius: 5px;
}
input[type = "date"]{
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 40%;
  height: 30px;
}


/* submit button */
input#btn{
  padding: 4px;
  width: 70%;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-right: 50%;
  margin-left: 15%;
  font-weight: bold;
}
input#btn:hover{
  background:rgb(187, 41, 138);
  color: #000;
  outline: 1.5px solid rgb(237, 168, 191);
  outline-offset: 3px;
  box-shadow: 0px 0px 10px 10px rgb(243, 139, 187)
}

/* todo list box */
#list {
  justify-content: space-between;
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #696868;
}

/* added tasks */
div {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid rgb(27, 27, 27);
}

/* Priority and sorting buttons */
select{
  margin-top: 20px;
  display: inline-flex;
  width: 160px;
  padding: 4px;
  margin: 2em;
  height: 30px;
  border: none;
  border-radius: 5px;
}

#sort{
  margin-right: 0px;
  margin-left: 6pc;
}



/* PRIORITIES COLOR */
.red {
padding: 5px;
height: 30px;
outline: 1.5px solid rgb(227, 17, 17);
outline-offset: 2px;
box-shadow: 0 0 9px 9px rgb(173, 18, 18);
border-radius: 5px;
color: #000;
font-weight: 500;
}

.yellow {
padding: 5px;
height: 30px;
outline: 2px solid rgb(223, 227, 15);
outline-offset: 2px;
box-shadow: 0 0 9px 9px rgb(240, 204, 3);
border-radius: 5px;
  color: #000;
font-weight: 500;
}

.green {
padding: 5px;
height: 30px;
outline: 2px solid rgb(57, 199, 25);
outline-offset: 2px;
box-shadow: 0 0 9px 9px rgb(14, 156, 30);
border-radius: 5px;
color: #000;
font-weight: 500;
}

/*list elmnt */
li{
margin-bottom: 24px;
}